@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

body {
	padding-right: 5%;
	padding-left: 3%;
}

.seasonaloutfit {
	text-align: center;
	display: flex;
	gap: 20px;
	align-items: center;
}

.spring-container {
	background-color: #FFCFE9;

}

.summer-container {
	background-color: #FFD699;
}


.fall-container {
	background-color: #D2FFD3;
}

.fall-padding {
	padding-top: 5%;
}


.winter-container {
	background-color: #C0FFF0;
	;
}


.content-container {
	text-align: center;

}

h3 {
	color: #FFF;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
	font-family: "Jersey 25";
	font-size: 55px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;

}

img {
	max-width: 50%;
	border: #000 5px solid;
	object-fit: cover;

}

p {
	color: #FFF;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
	font-family: "Jersey 25";
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
	padding: 3%;
}

a {
	text-decoration: none;
	color: #FFF;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
	font-family: "Jersey 25";
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

}

a:hover {
	color: #d90174;
}


@media screen and (min-width: 768px) {


	.seasonaloutfit {
		justify-content: center;
		margin-top: 1%;
		padding-bottom: 6%;
	}

	p {
		padding-right: 9%;
		padding-left: 5%;
	}


}


@media only screen and (min-width: 1024px) {

	.seasonaloutfit p {
		margin-left: -25%;
		margin-top: -1%;
	}

	.seasonaloutfit img {
		margin-right: -30%;
		margin-top: -2%;
		height: 590px;
		width: 280px;
	}
}