@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

body {
	background-color: #8E00FE;
	font-family: sans-serif;
	display: flex;
	gap: 20px;
	padding: 1% 2% 4% 2%;
	text-align: center;
	justify-content: center;
}


h1 {
	color: #FFF;
	text-align: center;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #000;
	font-family: "Jersey 25";
	font-size: 65px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 0% 5%;
	text-transform: uppercase;

}

#scroll-text {
	padding-bottom: 2%;
}

#redrag-text {
	background-color: deeppink;
	padding: 3%;
	margin-top: -3%;
	text-transform: uppercase;
}

#drag-text {
	text-transform: uppercase;
	margin-top: 4%;
	margin-left: 5%;
}

p {
	color: #FFF;
	text-align: center;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
	font-family: "Jersey 25";
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.items,
.outfit {
	justify-content: center;
	height: 100%;
	overflow-y: auto;

}

.items {
	border: 4px solid black;
	background-color: #FFF;
	padding-top: 3%;
	margin-bottom: -2%;
}


.outfit {
	background-color: #8E00FE;
	position: relative;
}

.item {
	width: 250px;
	margin: 10px;
	cursor: grab;
}

.mannequin {
	width: 100px;
	padding-left: 12%;
	padding-top: 8%;
	/* or whatever fits your layout */
}

.mannequin-image-container {
	width: 10%;
}

#image-mannequin {
	width: 600px;
	align-content: first baseline;

}



.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.container #shortcheetahdress-dropped {
	transform: scale(3);
}

.container #orangedress-dropped {
	transform: scale(2.3);
}


.container #seashelltop-dropped {
	transform: scale(1.8);
}

.container #pearlbag-dropped {
	transform: scale(1.5);
}

.container #whiteskirt-dropped {
	transform: scale(1.8);
}


.container #brownskirt-dropped {
	transform: scale(2.3);
}

.container #brownshorts-dropped {
	transform: scale(1.5);
}

.container #goldheels-dropped {
	transform: scale(1.5);
}

.container #brownboots-dropped {
	transform: scale(2);
}

.container #mermaidtop-dropped {
	transform: scale(2);
}

.container #goldtop-dropped {
	transform: scale(1.9);
}


.container #goldbag-dropped {
	transform: scale(1.5);
}