@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

body {
	background-color: #8E00FE;
	font-family: sans-serif;
	display: flex;
	gap: 20px;
	padding: 20px;
	text-align: center;
	justify-content: center;
}


h1 {
	color: #FFF;
	text-align: center;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #000;
	font-family: "Jersey 25";
	font-size: 65px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 0% 5%;

}

p {
	color: #FFF;
	text-align: center;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
	font-family: "Jersey 25";
	font-size: 35px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.items,
.outfit {
	padding: 10px;
	justify-content: center;
	height: 250px;
	overflow-y: auto;
}

.items {
	border: 4px solid black;
	padding: 0% 10% 20% 10%;
	background-color: #FFF;
}


.outfit {
	background-color: #8E00FE;
	position: relative;
}

.item {
	width: 90px;
	margin: 5px;
	cursor: grab;
}

.mannequin {
	width: 100px;
	/* or whatever fits your layout */
}

.mannequin-image-container {
	width: 10%;
}

#image-mannequin {
	width: 453px;

}

.mannequin-image-container #shortcheetahdress-dropped {
	width: 55%;
}

.mannequin-image-container #longcheetahdress-dropped {
	width: 75%;
}


.mannequin-image-container #seashelltop-dropped {
	width: 70%;
}

.mannequin-image-container #whiteskirt-dropped {
	width: 70%;
}

.mannequin-image-container #bluetop-dropped {
	width: 80%;
}


.mannequin-image-container #brownskirt-dropped {
	width: 85%;
}

.mannequin-image-container #brownshorts-dropped {
	width: 60%;
}

.mannequin-image-container #goldheels-dropped {
	width: 60%;
}

.mannequin-image-container #brownboots-dropped {
	width: 80%;
}

.mannequin-image-container #brownskirt-dropped {
	width: 85%;
}

.mannequin-image-container #mermaidtop-dropped {
	width: 80%;
}

.mannequin-image-container #goldtop-dropped {
	width: 80%;
}

.mannequin-image-container #goldnecklace-dropped {
	width: 45%;
}

.mannequin-image-container .item {
	cursor: url('../images/clothes.svg') 16 16, auto;
}