@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

body {
	background-color: #D02E85;
}

h1 {
	color: #FFF;
	text-align: center;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #000;
	font-family: "Jersey 25";
	font-size: 65px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 3% 5% 0% 5%;
	text-transform: uppercase;

}

h2 {
	color: #FFF;
	text-align: center;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
	font-family: "Jersey 25";
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}


h3 {
	color: #FFF;
	text-align: center;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
	font-family: "Jersey 25";
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

a:hover {
	background-color: #ef8dc1;

}


img {
	max-width: 50%;
	border: #000 5px solid;
	margin-top: 5%;
}

.seasonaloutfits {
	text-align: center;
}

.sevendaysofoutfits {
	text-align: center;
}

.buildyourownoutfit {
	text-align: center;
}

a {
	text-decoration: none;
	border: #000 10px double;
	display: block;
	margin: 4% 20% 5% 20%;
}