@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

body {
	background-color: #CF92FF;
}

h1 {
	color: #FFF;
	text-align: center;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #000;
	font-family: "Jersey 25";
	font-size: 65px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding: 5% 5% 0% 5%;

}

h2 {
	color: #FFF;
	text-align: center;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
	font-family: "Jersey 25";
	font-size: 40px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}


h3 {
	color: #FFF;
	text-align: center;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
	font-family: "Jersey 25";
	font-size: 45px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	/*  place hover feature csss here */
}

img {
	max-width: 50%;
	border: #000 3px solid;
}

.springoutfit {
	text-align: center;
}

.summeroutfit {
	text-align: center;
}

.falloutfit {
	text-align: center;
}

.winteroutfit {
	text-align: center;
}

a {
	text-decoration: none;
	border: #000 2px solid;
	display: block;
}